:root {
    --color-black-haze: #eaeceb;
    --color-white: #ffffff;
    --color-sun-glow: #fcbe35;
    --color-silver-sand: #bbbdbd;
    --color-sirroco: #787a7a;
    --color-picton-blue: #28ace6;

}