/* @import 'node_modules/bootstrap/dist/css/bootstrap-grid.css'; */
@import '../../../../../node_modules/bootstrap/dist/css/bootstrap-grid.css';

#analytics {
    font-size: 50px;
    font-family: Verdana, sans-serif;
    font-style: italic;
}

.analytics {
    padding: 25px;
}

.theRow2 {
    margin-top: 25px;
}