.home {
    background: url("src/assets/bg-light.jpeg") fixed;
    background-size: 100vw 100vh;
}

@media (max-width: 600px) {
    .home {
        background: url("src/assets/bg-light.jpeg") fixed;
        background-size: 100vw 100vh;
    }
}