@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

/* This CSS file deals with header of home page */

/* Wrapper */
.home-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Heading */
.home-header p {
    color: black;
    font-family: "Archivo Black", sans-serif;
    margin-top: 50px;
    font-size: 2.5rem;
}

.categories {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.category-block {
    margin: 2px;
}

@media (min-width: 600px) {
    .categories {
        visibility: visible;
        flex-direction: row;
    }

    .category-block {
        margin: 10px;
    }

    .home-header p {
        color: black;
        font-family: "Archivo Black", sans-serif;
        margin: 50px;
        font-size: 2.5rem;
    }
}