.home-content {
    margin: 20px;
    /*transform: translate(0, -50px);*/
}

.home {
    background: url("src/assets/bg-light.jpeg") no-repeat;
    background-size: 100vw 60vh;
}

@media (max-width: 600px) {
    .home {
        background: url("src/assets/bg-light.jpeg") fixed;
        background-size: 100vw 100vh;
    }
}