@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@700&display=swap');

.card-title {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.75rem;
    line-height: 1rem;
    margin-bottom: 0;
    padding: 10px;
    font-family: "Martel Sans", serif;
}

.card-title-wrapper {
    display: flex;
    align-items: center;
}

.card-image {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.card {
    margin: 10px;
    max-width: 300px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 100px;
    overflow: hidden;
    text-overflow-ellipsis: true;
    /*padding-top: 20px;*/
}

.card:hover {
    transform: scale(1.02);
}

@media (min-width: 300px) {

}