<div
        class="card"
        [routerLink]="['/article', article.getTitle()]"
        (mouseover)="isActive = true"
        (mouseout)="isActive = false"
        [class.mat-elevation-z1]="!isActive" [class.mat-elevation-z10]="isActive">
    <img class="card-image" matCardImage src="{{article.getImageUrl()}}" alt="Article Image">
    <div class="card-title-wrapper">
        <p class="card-title">
            {{article.getTitle()}}
        </p>
    </div>
</div>


<!--<mat-card-->
<!--        class="card"-->
<!--        [routerLink]="['/article', article.getTitle()]"-->
<!--        (mouseover)="isActive = true"-->
<!--        (mouseout)="isActive = false"-->
<!--        [class.mat-elevation-z1]="!isActive" [class.mat-elevation-z10]="isActive">-->
<!--    <img class="card-image" matCardImage src="{{article.getImageUrl()}}" alt="Article Image">-->
<!--    <mat-card-header class="card-header card-title-wrapper">-->
<!--        <mat-card-title class="card-title">-->
<!--            {{article.getTitle()}}-->
<!--        </mat-card-title>-->
<!--    </mat-card-header>-->
<!--&lt;!&ndash;    <mat-divider></mat-divider>&ndash;&gt;-->
<!--&lt;!&ndash;    <mat-card-footer class="card-footer">&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-chip-list>&ndash;&gt;-->
<!--&lt;!&ndash;            <mat-chip&ndash;&gt;-->
<!--&lt;!&ndash;                    matBadge="{{count}}"&ndash;&gt;-->
<!--&lt;!&ndash;                    matBadgeSize="small"&ndash;&gt;-->
<!--&lt;!&ndash;                    matTooltip="{{count}} news are compared">{{article.getSource()}}</mat-chip>&ndash;&gt;-->
<!--&lt;!&ndash;        </mat-chip-list>&ndash;&gt;-->
<!--&lt;!&ndash;    </mat-card-footer>&ndash;&gt;-->
<!--</mat-card>-->
