<mat-card
        class="card"
        (click)="cardClicked(title, imageUrl, source)"
        routerLink="card"
        (mouseover)="isActive = true"
        (mouseout)="isActive = false"
        [class.mat-elevation-z1]="!isActive" [class.mat-elevation-z10]="isActive">
    <img class="card-image" matCardImage src="{{imageUrl}}">
    <mat-card-header class="card-header">
        <mat-card-title class="card-title">
            {{title}}
        </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-footer class="card-footer">
        <mat-chip-list>
            <mat-chip
                    matBadge="{{count}}"
                    matBadgeSize="small"
                    matTooltip="{{count}} news are compared">{{source}}</mat-chip>
        </mat-chip-list>
    </mat-card-footer>
</mat-card>
